{% extends 'base.html' %}
{% load static %}


{% block title %}
Password Reset
{% endblock title %}



{% block content %}

<div class="heading-type-1">
  <br>
  Done
</div>

<hr class="hr-stylish-subdivider">

<div class="lcont text-black-100 text-center">
  <div id="#loginContaienr" class="container necont">
		<p class="m-auto p-2">
			<p class="m-auto" style="color:black;">Your password has been reset. You may go ahead and <br> <br> <a href="/login/" class="submit">sign in</a> now.</p>
		</p>
          <br>

          <br>
    </div>
</div>
<br>
<hr class="hr-stylish">





{% endblock content %}

{% block extra_css %}



{% endblock extra_css %}

{% block scripts %}

{% endblock scripts %}