.u-section-1 .u-sheet-1 {
  min-height: 910px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 93px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 198px;
  background-image: linear-gradient(75deg, #05b1f6, #6fede9);
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 140px;
  height: 140px;
  /*background-image: url("images/attention.png");*/
  background-position: 50% 50%;
  margin: 0 auto 0 17px;
}

.u-section-1 .u-text-1 {
  margin: -110px 24px 0 191px;
}

.u-section-1 .u-text-2 {
  margin: 11px 51px 0 191px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 198px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 214px;
  background-image: linear-gradient(75deg, #05b1f6, #6fede9);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  width: 97px;
  height: 97px;
  color: rgb(239, 206, 74) !important;
  margin: 17px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  margin: -77px auto 0 111px;
}

.u-section-1 .u-text-4 {
  text-align: left;
  margin: 0 auto 0 111px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 49px;
  margin: 23px 0 0;
}

.u-section-1 .u-list-1 {
  width: 976px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 66px;
  grid-template-columns: calc(25% - 19.5px) calc(25% - 19.5px) calc(25% - 19.5px) calc(25% - 19.5px);
  grid-gap: 26px 26px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-5 {
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  margin: 30px 859px 0 0;
}

.u-section-1 .u-table-1 {
  margin-top: 14px;
  margin-bottom: 50px;
}

.u-section-1 .u-table-header-1 {
  background-image: linear-gradient(75deg, #00aef7, #72efe9);
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1311px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-right: 27px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 163px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 303px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 59px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -86px;
    margin-right: 54px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 58px;
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 63px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 659px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1273px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-1 {
    width: 185px;
    margin-top: -12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 151px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 270px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 270px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 12px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 196px;
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 439px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1529px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-5 {
    margin-right: 259px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1681px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 23px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -3px;
    margin-right: 119px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 65px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 0;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}



.errorlist li {
  display:none;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Poppins', sans-serif;*/
}

.container{
    width: 100%;
    height: 100vh;
    background: #e3ebfe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    width: 270px;
    height: 80px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.check-box{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

.check-box svg{
    width: 40px;
    margin: 20px;
}

svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background: #ff2b75;
    transition: 1s;
}

.active .check-box{
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active p{
    margin-right: 125px;
    transition: 1s;
}

.active svg path{
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}










textarea{
  width:100%;
  height:100px;
  border: 1px solid #e2e2e2;
  border-radius:20px;
  transition:all ease-in 0.2s;
  padding:20px !important;
}
textarea:hover{
  box-shadow: 0 6px 20px -5px rgb(0 0 0 / 16%);
}
label{
  font-style:italic;
}
.faq-holder{
  padding:20px;
  margin:20px;
  border: 1px solid #e2e2e2;
  border-radius:20px;
}


.faq-single{
  display:flex;
  justify-content: space-around;
}
.faq-single:hover{
  box-shadow: 0 6px 20px -5px rgb(0 0 0 / 16%);
}

input{
  border:1px solid #e2e2e2;
  border-radius: 20px;
  padding:20px !important;
  transition: all ease-in 0.2s;
}
input:hover{
  box-shadow: 0 6px 20px -5px rgb(0 0 0 / 16%);
}

.cardify{
  box-shadow: 0 6px 20px -5px rgb(0 0 0 / 16%);
}

.form-heading{
  
  font-family: 'Alice';
  text-align: center;
}


.faq_more {
  padding: 20px;
  border: none;
  outline: none;
  background: #f5f5f5;
  color: #000;
  font-family: 'Alice';
  transition:all ease-in 0.1s;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgb(0 0 0 / 16%);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.faq_more:hover{
  box-shadow: none;
}


.spaceme{
  padding:20px;
  margin:20px;
}




.fieldWrapper input {
  width:100%;
}

.delete-button {
  width: 40px;
  height: 40px;
  border-radius:20px;
  border:none;
  background:#ffc7c7;
  box-shadow: 0 0 20px #cac7c7;
  display: flex;
  justify-content: center;
  font-family: 'Alice';
  align-items: center;
  align-self: center;
  transition: all 2s ease;
}
.delete-button:hover {
    cursor:pointer;
    width: 60px;
    height: 60px;
    background:#ffc7c7;
    box-shadow: 0 0 20px #5e5e5e;

}
.embed{
  background-color: #eeeeee;
  text-align: left;
  color:black;
  width: 100%;
  padding:20px;
}
